@import "styles/utils.scss";

.comment {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &_id {
    display: grid;
    grid-template-columns: 90px 1fr 20px;
    border-top: 2px solid var(--color-card);
    text-align: left;
    padding: 1.5rem 0 1.5rem 0;
  }

  &_profile {
    position: relative;
    border-radius: 100%;
  }
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  column-gap: 4rem;
  font-size: 0.9rem;

  &_info {
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 0.8rem;

    &_writter {
      font-weight: 900;
      font-size: 1rem;
      padding-right: 1rem;
    }

    &_date {
      font-size: 0.75rem;
      color: $color-base;
    }

    &_admin {
      font-size: 0.65rem;
      padding: 0.2rem 0.5rem 0.2rem 0.5rem;
      margin-right: 1rem;
      color: $color-high;
      border: 1px solid $color-high;
      border-radius: 3rem;
    }
  }

  &_menu {
    padding-left: 1rem;
    min-width: 20px;
    justify-content: right;
    color: $color-high;
    cursor: pointer;
  }

  &_icon {
    cursor: pointer;
  }
}
