@import "styles/utils.scss";

.dropdown {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  row-gap: 2rem;
  height: 2.5rem;
  padding: 0.5rem;
  font-size: 14px;
  background-color: var(--color-low);
  z-index: 999999;

  @media all and (max-width: $tablet) {
    right: 5%;
  }

  &__button {
    width: 6rem;
    border-radius: 0px;
    height: 100%;
  }

  &__input__small {
    height: 100%;
    padding-left: 1rem;
    width: 10rem;
    border-radius: 0px;
    background-color: var(--color-background);
  }
}
