@import "styles/utils.scss";

.comment {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &_id {
    display: grid;
    grid-template-columns: 90px 1fr 20px;
    border-top: 2px solid var(--color-card);
    text-align: left;
    padding: 1.5rem 0 1.5rem 0;
  }
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  column-gap: 4rem;

  &_info {
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 0.8rem;

    &_writter {
      font-weight: 900;
      font-size: 1rem;
      padding-right: 1rem;
    }

    &_date {
      font-size: 13px;
      color: $color-base;
    }
  }

  &_menu {
    padding-left: 1rem;
    min-width: 20px;
    justify-content: right;
    color: $color-high;
    cursor: pointer;
  }

  &_icon {
    cursor: pointer;
  }
}

.profile_wrapper {
  width: 100%;
  height: auto;
}
