@import "styles/utils.scss";

.card__container {
  // fadeIn 애니메이션용
  opacity: 0;
  transform: translate3d(0, 5rem, 0);
}

.card {
  position: relative;
  width: 16.875rem;
  height: 22rem;
  background-color: var(--color-low);
  cursor: pointer;
  box-shadow: 0 8px 12px rgb(0 0 0 / 20%);
  border: 1px solid var(--color-text);
  transition: transform 0.5s;

  img {
    transition: transform 0.5s;
  }

  &__thumbnail {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    height: auto;
  }

  &__info {
    p {
      font-size: 0.8rem;
      color: $color_gray_high;
      overflow: hidden;
      white-space: normal;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      word-break: break-all;
    }

    display: flex;
    flex-direction: column;
    padding: 0 1rem 0 1rem;
    row-gap: 0;
    min-height: 7.2rem;
  }

  &__title {
    margin: 0.4rem 0 0 0;
    height: 3rem;
    font-size: 1rem;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
  }

  &__date {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    align-items: center;
    padding-right: 1rem;
    color: $color_middle;
  }
}

.overlap {
  top: 0;
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 60%);
  transition: opacity 0.5s ease-in-out;

  h3 {
    padding: 1rem;
    color: $color_gray;
  }
}

.card:hover {
  transform: translateY(-1rem);

  .overlap {
    opacity: 1;
  }

  img {
    transform: scale(1.2);
  }
}

.card__layout {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 3rem;
  padding-top: 2rem;
  margin: 0 0 6rem 0;

  @media all and (max-width: $tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @media all and (max-width: $mobile) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  margin: 8rem 0 12rem 0;

  @media all and (max-width: $mobile) {
    display: none;
  }

  &__thumbnail {
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 0 1.3rem 0 var(--color-text);
    overflow: hidden;
    width: 550px;
    height: 335px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;

    h1 {
      font-style: italic;
      font-size: 2.5rem;
    }

    p {
      text-align: center;
      max-width: 550px;
    }
  }
}
