@import "styles/utils.scss";

.error__image {
  border-radius: 10%;
  margin-bottom: 2rem;
}

.error__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  margin: 5rem;
}

.error__nav {
  display: flex;
  column-gap: 2rem;
  margin-bottom: 2rem;

  button {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 1px solid $color_high;
    background-color: inherit;
    color: $color_high;
    box-shadow: none;
    width: auto;

    &:hover {
      transition: all 0.5s;
      background-color: $color_high;
      color: $color_gray;
    }
  }
}

.loading {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 3rem;
  padding-top: 2rem;
  margin: 0 0 6rem 0;
}

.loading__image {
  position: relative;
  width: 16.875rem;
  height: 22rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
