@import "styles/utils.scss";

.navBar {
  width: 10rem;
  height: 25rem;
  padding: 10px;
  position: fixed;
  margin-top: 4rem;
  border: none;
  border-radius: 1rem;
  overflow: hidden;

  &:hover {
    transition: 0.3s;
    overflow: auto;
    background-color: var(--color-card);
  }

  &_title {
    width: 100%;
    border-bottom: 2px solid $color_green;
  }

  &_item {
    margin-left: 0.4rem;
  }

  @media all and (max-width: 1300px) {
    display: none;
  }
}
