.toast__ui {
  font-size: 0.9rem;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color-card);
  padding: 0 1.5rem 0 1.5rem;
  margin: 0 auto;
  margin-top: 1rem;
  box-shadow: 0 8px 12px rgb(0 0 0 / 20%);

  &__button {
    padding-left: 0.8rem;
    cursor: pointer;
  }
}
