@import "styles/utils.scss";

.container {
  display: flex;
  flex-direction: column;
  margin-top: 12rem;
  margin-bottom: 8rem;
}

.comment {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &_id {
    display: grid;
    grid-template-columns: 90px 1fr 70px;
    border-top: 2px solid var(--color-text);
    text-align: left;
    padding-top: 1.5rem;
  }
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  column-gap: 4rem;

  &_info {
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 0.8rem;

    &_writter {
      font-weight: 900;
      font-size: 1rem;
      padding-right: 1rem;
    }

    &_date {
      font-size: 13px;
      color: $color_green;
    }
  }

  &_menu {
    min-width: 20px;
    justify-content: right;
    cursor: pointer;
  }
}
