$mac_color_list: (#fe5f57, #ffbd2e, #29c941);

pre[class*="language-"],
code[class*="language-"] {
  max-width: 720px;
  font-size: 1rem;
  background-color: var(--color-card);
  padding: 3rem 1.5rem !important;
  border-radius: 0.6rem;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  overflow: auto;
}
code:not([class*="language-"]) {
  background-color: var(--color-card);
  font-size: 0.8rem;
  display: inline-block;
  padding: 0.15rem 0.25rem;
  margin: 0px 0.2rem;
  border-radius: 0.3rem;
}
.codeblock {
  position: relative;
  margin-top: 2rem;
  .top {
    position: absolute;
    padding: 0.6rem 0 0.6rem 0;
    width: 100%;
    background-color: var(--color-codeblock);
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    div {
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 50%;
      margin: 0px 0.3rem;
      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          margin-left: if($i < 2, 1.5rem, 0.3rem);
          background-color: nth($mac_color_list, $i);
        }
      }
    }
  }
  table {
    border-collapse: collapse;
    margin: -0.5rem;
    & tr {
      &:hover {
        background-color: var(--color-codeblock);
      }
    }
    & td {
      line-height: 1rem;
      @media (max-width: 960px) {
        line-height: 0.8rem;
      }
    }
    & td:nth-child(1) {
      color: #5a70a0;
      padding-right: 0.6rem;
      border-right: 1px solid var(--color-codeblock);
      text-align: right;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
    }
    & td:nth-child(2) {
      width: 100%;
      padding: 0.2rem 1rem 0.2rem 2rem;
    }
  }
}
