@import "styles/utils.scss";

.article {
  margin-top: 6rem;
}

.title {
  font-size: 2.4rem;
}

.post {
  a {
    text-decoration: underline;
    color: $color_high;
  }
}

.comment {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 8rem;
}

.navigate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10rem;
}

.recent {
  margin-bottom: 6rem;
}

.TOC {
  position: fixed;
  left: 1.2rem;
  top: 12rem;

  @media all and (max-width: $tablet) {
    display: none;
  }
}
