@use "../../../../styles/utils.scss";

@mixin navigate-style {
  width: 16rem;
  min-width: 16rem;
  display: grid;
  background-color: var(--color-low);
  padding: 0.6rem 1rem 0.6rem 1rem;
  align-items: center;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);

  ul {
    margin: 0 1rem;
    padding: 0;
    list-style: none;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
  }

  @media all and (max-width: utils.$mobile) {
    width: auto;
    min-width: 2.5rem;
  }
}

.navigate__left {
  @include navigate-style;

  & {
    grid-template-columns: 2rem 1fr;

    ul {
      li {
        text-align: left;
      }
    }
  }
}

.navigate__right {
  @include navigate-style;

  & {
    grid-template-columns: 1fr 2rem;

    ul {
      li {
        text-align: right;
      }
    }
  }
}

.small {
  font-size: 0.8rem;
}
