/*
* eyframe animation 처리 함수
*/
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  animation: #{$str};
}

/*
  * 카드 위로 뜨는 애니메이션
  */
@include keyframes(cardUp) {
  0% {
    top: 0;
  }
  50% {
    top: -0.5rem;
  }
  100% {
    top: -0;
  }
}

@include keyframes(input_true) {
  0% {
    width: 0;
  }
  100% {
    width: 12rem;
  }
}

@include keyframes(input_false) {
  0% {
    width: 12rem;
  }
  100% {
    width: 0;
  }
}

@include keyframes(dropDown_true) {
  0% {
    height: 0;
  }
  100% {
    height: 18rem;
  }

  overflow: hidden;
}

@include keyframes(dropDown_false) {
  0% {
    height: 18rem;
  }
  100% {
    height: 0;
  }

  overflow: hidden;
  animation-fill-mode: forwards;
}
