/*
* keyframe animation 처리 함수
*/
@mixin keyframes($animation_name) {
  @-webkit-keyframes #{$animation_name} {
    @content;
  }
  @keyframes #{$animation_name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  animation: #{$str};
}

@include keyframes(input_true) {
  0% {
    width: 0;
  }
  100% {
    width: 11rem;
  }
}

@include keyframes(input_false) {
  0% {
    width: 11rem;
  }
  100% {
    width: 0;
  }
}

@include keyframes(dropDown_true) {
  0% {
    height: 0;
  }
  100% {
    height: 18rem;
  }

  overflow: hidden;
}

@include keyframes(dropDown_false) {
  0% {
    height: 18rem;
  }
  100% {
    height: 0;
  }

  overflow: hidden;
  animation-fill-mode: forwards;
}
