@use "./utils.scss" as *;

:root {
  --color-text: #{$color_black};
  --color-background: #ffffff;
  --color-codeblock: #{$color_base};
  --color-card: #{$color_low};
}
html[data-theme="dark"] {
  --color-text: #{$color_gray};
  --color-background: #{$color-black_high};
  --color-codeblock: #{$color_black};
  --color-card: #{$color_black_low};
}
