@use "./utils.scss" as *;

:root {
  --color-text: #{$color_gray};
  --color-background: #{$color-black_high};
  --color-codeblock: #{$color_black};
  --color-card: #{$color_black_low};

  // prism-tomorrow
  --prism-maintext: #ccc;
  --prism-text: #999;
  --prism-keywords: #cc99cd;
  --prism-punctuation: #ccc;
  --prism-functions: #f08d49;
  --prism-strings: #7ec699;
  --prism-namespace: #e2777a;
  --prism-names: #6196cc;
  --prism-symbol: #f8c555;
  --prism-url: #9a6e3a;
}

html[data-theme="light"] {
  --color-text: #{$color_black_low};
  --color-background: #ffffff;
  --color-codeblock: #{$color_base};
  --color-card: #{$color_low};
  --data-type: "light";

  // prism-light
  --prism-maintext: #2d2d2d;
  --prism-text: #777777;
  --prism-keywords: #07a;
  --prism-punctuation: #777777;
  --prism-functions: #f08d49;
  --prism-strings: #690;
  --prism-namespace: #e2777a;
  --prism-names: #6196cc;
  --prism-symbol: #dd4a68;
  --prism-url: #67cdcc;
}
