/* color */
$color_deepBlack: #1d1d1d;
$color_black_high: #121418;
$color_gray: #f0f3f5;
$color_superLow: #f3f9ff;
$color_low: #d3e3fc;
$color_base: #77a6f7;
$color_high: #4285f4;
$color_gray_high: #7d8081;
$color_black_low: #272b31;
$color_black: #191b1f;
$color_middle: #5a70a0;

/* media-query */
$mobile: 667px;
$tablet: 1023px;
$desktop: 1024px;

/* 넓이, 높이 자동 계산함수 */
@mixin square($size) {
  $calculated: 32px * $size;
  width: $calculated;
  height: $calculated;
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}
