@import "styles/utils.scss";

.container {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 4rem 0 3rem 0;
  font-size: 1.2rem;
}

.pagination {
  max-width: 15rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;

  li {
    margin: 1rem;
    cursor: pointer;
    list-style: none;
  }

  &__target {
    color: $color_high;
    font-weight: 900;
    text-decoration: underline;
  }
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media all and (max-width: $mobile) {
    font-size: 0.8rem;
  }

  &__button {
    justify-content: center;
  }

  &__sort {
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: none;
    border-radius: 99999px;
    color: var(--color-text);
    background-color: var(--color-low);

    option {
      border-radius: 99999px;
    }
  }
}
