@import "styles/utils.scss";

.container {
  display: flex;
  // width: 100%;
  align-items: center;
  // justify-content: center;
  margin: 4rem 0 3rem 0;
  font-size: 1.2rem;
}

.pagination {
  max-width: 15rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;

  li {
    margin: 1rem;
    cursor: pointer;
    list-style: none;
  }

  &__target {
    color: $color_high;
    font-weight: 900;
    text-decoration: underline;
  }
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 10rem;
  box-shadow: inset 0 4px 8px rgb(0, 0, 0, 15%);

  @media all and (max-width: $mobile) {
    font-size: 0.8rem;
  }

  &__button {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
