@import "styles/utils.scss";
@import "styles/animations.scss";

.searchBar {
  display: flex;
  flex-direction: row-reverse;

  &__icon {
    display: flex;
    flex-direction: row;
    cursor: pointer;
  }

  &__true {
    margin-left: 1rem;
    padding-left: 0.8rem;
    @include animation("input_true 0.4s");
  }

  &__false {
    @include animation("input_false 0.4s");
  }

  &__tooltip {
    position: relative;
    display: flex;
    font-size: 0.8rem;
    align-items: flex-end;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    bottom: 1rem;
    border-radius: 5rem;
    height: 1rem;
    background-color: var(--color-low);
    color: $color_gray_high;
  }
}

.options__button {
  cursor: pointer;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 99999px;
  box-shadow: 0 6px 8px rgb(0 0 0 / 30%);
  color: $color_gray;
  background-color: $color_high;
}
